<!DOCTYPE html>
<html>
<head>
    <title>Lev File Repository: Add a file</title>
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/lib/daterangepicker.css"/>
    <script type="text/javascript" src="../static/lib/react.min.js"></script>
    <script type="text/javascript" src="../static/lib/react-dom.min.js"></script>
    <script type="text/javascript" src="../static/lib/babelcore-browser.min.js"></script>
    <script type="text/javascript" src="../static/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/lib/classnames.min.js"></script>
    <script type="text/javascript" src="../static/lib/bootstrap.min.js"></script>


</head>
<body>
    <script src="../static/lib/aws-sdk-2.94.0.min.js"></script>

<div id="header"></div>

<div style="margin: 30px;">
    <h1>Add file</h1>
     <div id="content"></div>
</div>


<script type="text/babel" src="../static/scripts/utils.js"></script>
<script type="text/babel" src="../static/scripts/addfile.js"></script>
</body>
</html>
