<!DOCTYPE html>
<html>
<head>
    <title>Bridge File Repository: Login</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../static/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/main.css" />
    <script src="../static/lib/react.min.js"></script>
    <script src="../static/lib/react-dom.min.js"></script>
    <script src="../static/lib/babelcore-browser.min.js"></script>
    <script src="../static/lib/jquery.min.js"></script>
    <script src="../static/lib/classnames.min.js"></script>
</head>
<body>
<div id="header"></div>

<div  class="center bg">
    <div style="margin: 20px 0" class="large">Welcome to the Bridge File Repository</div>
    <div><img src="../static/images/logo2.png"></div>
    <div id="content"></div>
</div>
<script type="text/babel" src="../static/scripts/utils.js"></script>
<script type="text/babel" src="../static/scripts/login.js"></script>
</body>
</html>
